body {
    margin-left: 0;
    margin-right: 0;
    background-color: white;

}

.app__header { 
   height:30vh;
   background-color: #efefef;
   display: flex;
   justify-content: center;
   align-items: center;
   margin:0;
   

}

.pudlo {

margin: auto;

}


#header { 
    background-color:#ACE7FF;
    color: black;
    text-align: center;
    padding: 20px;
  
 }
 #myCarousel{
 
  
 }

 nav{
   
 }